; Barman, Backup and Recovery Manager for PostgreSQL
; http://www.pgbarman.org/ - http://www.2ndQuadrant.com/
;
; Template configuration file for a server using
; SSH connections and rsync for copy.
;

[{{ target.host }}]
; Human readable description
description =  "{{ target.description }}"

; ;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;
; SSH options (mandatory)
; ;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;
ssh_command = ssh postgres@{{ target.host }}

; ;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;
; PostgreSQL connection string (mandatory)
; ;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;
conninfo = host={{ target.host }} user={{ target.user }} dbname={{ target.dbname }}

; ;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;
; Backup settings (via rsync over SSH)
; ;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;
backup_method = rsync
; Incremental backup support: possible values are None (default), link or copy
{% if target.reuse_backup is defined %}reuse_backup = {{ target.reuse_backup }}
{% else %};reuse_backup = link{% endif %}
; Identify the standard behavior for backup operations: possible values are
; exclusive_backup (default), concurrent_backup
{% if target.backup_options is defined %}backup_options = {{ target.backup_options }}
{% else %};backup_options = exclusive_backup{% endif %}

; Number of parallel workers to perform file copy during backup and recover
{% if target.parallel_jobs is defined %}parallel_jobs = {{ target.parallel_jobs }}
{% else %};parallel_jobs = 1{% endif %}

; ;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;
; Continuous WAL archiving (via 'archive_command')
; ;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;
{% if target.archiver is defined %}archiver = {{ target.archiver }}
{% else %}archiver = on{% endif %}
{% if target.archiver_batch_size is defined %}archiver_batch_size = {{ target.archiver_batch_size }}
{% else %};archiver_batch_size = 50{% endif %}

; PATH setting for this server
{% if target.path_prefix is defined %}path_prefix = "{{ target.path_prefix }}"
{% else %};path_prefix = "/usr/pgsql-9.5/bin"{% endif %}

{% if target.add_settings is defined %}
; Add settings
{% for setting in target.add_settings %}
{{ setting }}
{% endfor %}
{% endif %}
